body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/*
.bg {
  background-image: url('/images/pexels-photo-248762.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

main {
  font-family: monospace;
  width: 50%;
  margin: auto;
}

h1 {
  color: rgb(79, 43, 142);
  font-size: 75px;
  text-align: center;
  padding: 0;
  border: 20;
}

h1:hover {
  color: rgb(60, 150, 176);
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0FF1C3;
}

li.nav-bar-item {
  float: left;
}

li.nav-bar-item a {
  display: block;
  color: rgb(79, 43, 142);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
}

li a:hover {
    background-color: #FFFFFF;
}

img.main-img {
  display: block;
  opacity: 0.4;
  width: 50%;
  height: auto;
  margin: auto;
}

img.main-img:hover {
  opacity: 0.6;
}
