<h1>Conditions Dashboard</h1>

<h3>Breakdown of Trips Taken Per Ten Degree Temperature Range</h3>
  <%@conditions.collect_max_temp_ranges.each.with_index do |range, index|%><h6>Range: <%=range%></h6>
  <%#@conditions.collect_descriptors_for_each_ten_degree_temp_range.each do |data| %>
  <ul>
    <li>Average Rides: <%=@condition_temp_data[index][0]%></li>
    <li>Maximum Rides: <%=@condition_temp_data[index][1]%></li>
    <li>Minimum Rides: <%=@condition_temp_data[index][2]%></li>
  </ul>
  <%end%>
