<head>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>
  <ul class='nav-bar'>
    <li class='nav-bar-item'><a href="/">home</a></li>
    <li class='nav-bar-item'><a href="/stations">stations</a></li>
    <li class='nav-bar-item'><a href="/trips">trips</a></li>
    <li class='nav-bar-item'><a href="/conditions">weather conditions</a></li>
    <li class='nav-bar-item'><a href="/stations-dashboard">stations dashboard</a></li>
    <li class='nav-bar-item'><a href="/trips-dashboard">trips dashboard</a></li>
    <li class='nav-bar-item'><a href="/conditions-dashboard">weather dashboard</a></li>
    <li class='nav-bar-item'><a href="/new-select">add a new...</a></li>
  </ul>

  <%= yield %>
</body>
