<head>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>
  <ul class='nav-bar'>
    <li class='nav-bar-item'><a href="/stations">stations</a></li>
    <li class='nav-bar-item'><a href="/trips">trips</a></li>
    <li class='nav-bar-item'><a href="/conditions">weather conditions</a></li>
  </ul>

  <%= yield %>
</body>
