
<h1 class="title"> What would you like to create?</h1>

<article class="selection">
  <section class="new-select">
    <a href="/stations/new"><h3>new station</h3></a>
    <a href="/stations/new">
      <img class="img-link" src="/images/bike-station.jpg" alt="bike station">
    </a>
  </section>

  <section class="new-select">
    <a href="/stations/new"><h3>new trip</h3></a>
    <a href="/trips/new">
      <img class="img-link" src="/images/bike-trip.jpeg" alt="bike trip">
    </a>
  </section>

  <section class="new-select">
    <a href="/stations/new"><h3>new weather conditions report</h3></a>
    <a href="/conditions/new">
      <img class="img-link" src="/images/bike-weather.jpeg" alt="weather and bikes">
    </a>
  </section>
</article>
